 .page-header {
    padding: 25px;
    margin-top: 10px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.well {
    background-color: rgba(0,0,0,.015);
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ECEEF4;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 11pt;
    line-height: 1.6em;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
}
.page-header+.well {
    margin-left: 0;
    margin-right: 0;
}
.scrollable {
    padding: 0 0 35px;

}
